

         <mat-toolbar class="navbar">
          <div class="logo">
            <img src="..\assets\logo1.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Crop-Deal</div>
       <div>
          <span>
            </span>
          <span class="admin" style="color:#191A19;">Admin Dashboard
           
          </span>
          </div>
         </mat-toolbar>
        <!-- <router-outlet></router-outlet> -->
      <app-admin-dashboard></app-admin-dashboard>
        
      
